.about-us{
    padding: 130px 0 59px 0;
    background-image: url(../../src/assets/images/mark-page/mark-latest-new.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.card-about{
    /* margin: 100px; */

}