.cards-container-actuality{
    padding: 130px 0 59px 0;
    background-image: url(../../src/assets/images/mark-page/mark-about-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    gap: 60px;

}

.card-actuality{
    margin: 50px 0 60px 0;

}

