.about {
  background-color: #597a8a;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > h1 {
  padding-top: 30px;
  margin: 0;
}

.about > p {
  color: #fff;
  font-size: 20px;
  white-space: wrap;
}

.about-info {
  display: flex;
  justify-content: center;
  height: 150px;
  gap: 10%;
  margin-top: 2rem;
}

.about-card {
  height: 50px;
  width: 50px;
  border-radius: 25px !important;
  background-color: #fff;
  object-fit: cover;
}

.about-card > img {
  height: auto;
  width: 100%;
  object-position: cover;
}
.about-info_column {
  display: flex;
  flex-direction: column;
  gap: 30%;
}

.about-info_container {
  display: flex;
  gap: 20px;
}

.about-info_container > p {
  color: #fff;
  font-size: 20px;
  margin: 0 !important;
  align-self: center;
  width: 331px;
}
