
.search-button{
    margin-top: 5px;
}


#navbar-container-id{
    position: fixed;
    z-index: 999;
    background-color: white;
    border-bottom: 0.2px solid lightgray;
    margin-top: -1rem;
}

.dropdowns{
    background: red;
    z-index: 999;
    border: 1px solid lightgray;

}

#dropdown-item-1-1{
    left: 200px;
    border-right: 1px solid lightgray;
}

.first-container{
    left: 100px;
}
.imagenes-dropdown{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 100%;
}